google-colab==1.0.0
sentence-transformers==4.1.0
six==1.17.0
pycairo==1.28.0
dill==0.3.8
tensorflow==2.18.0
albucore==0.0.24
sniffio==1.3.1
cuvs-cu12==25.6.1
nvidia-cufft-cu12==11.2.3.61
kiwisolver==1.4.8
protobuf==5.29.5
huggingface-hub==0.33.5
earthengine-api==1.5.24
google-generativeai==0.8.5
numba-cuda==0.11.0
libraft-cu12==25.6.0
cryptography==43.0.3
googledrivedownloader==1.1.0
sqlparse==0.5.3
nvidia-cudnn-cu12==9.3.0.75
array_record==0.7.2
pygit2==1.18.0
msgpack==1.1.1
glob2==0.7
PyOpenGL==3.1.9
pydata-google-auth==1.9.1
wandb==0.21.0
en_core_web_sm==3.8.0
pyomo==6.9.2
cudf-polars-cu12==25.6.0
GitPython==3.1.45
pyasn1_modules==0.4.2
fastcore==1.7.29
pickleshare==0.7.5
itsdangerous==2.2.0
dask-cuda==25.6.0
smmap==5.0.2
hyperopt==0.2.7
wasabi==1.1.3
ptyprocess==0.7.0
wrapt==1.17.2
google-cloud-aiplatform==1.105.0
pandocfilters==1.5.1
snowballstemmer==3.0.1
iniconfig==2.1.0
hf-xet==1.1.5
idna==3.10
distributed==2025.5.0
fastprogress==1.0.3
prophet==1.1.7
imagesize==1.4.1
google-cloud-translate==3.21.1
torchaudio==2.6.0+cu124
xgboost==3.0.2
python-snappy==0.7.3
optax==0.2.5
python-multipart==0.0.20
ydf==0.13.0
colorcet==3.1.0
preshed==3.0.10
py4j==0.10.9.7
propcache==0.3.2
geographiclib==2.0
pyproj==3.7.1
tcmlib==1.4.0
nvidia-cuda-nvrtc-cu12==12.5.82
lightgbm==4.6.0
immutabledict==4.2.1
packaging==25.0
jaraco.context==6.0.1
sklearn-compat==0.1.3
soxr==0.5.0.post1
httpimport==1.4.1
grpcio==1.74.0
referencing==0.36.2
fastai==2.7.19
google-cloud-datastore==2.21.0
pyperclip==1.9.0
langchain-text-splitters==0.3.9
cvxopt==1.3.2
opencv-contrib-python==4.12.0.88
decorator==4.4.2
audioread==3.0.1
stanio==0.5.1
accelerate==1.9.0
inflect==7.5.0
jupyter_kernel_gateway==2.5.2
threadpoolctl==3.6.0
google-ai-generativelanguage==0.6.15
polars==1.25.0
defusedxml==0.7.1
google-pasta==0.2.0
tensorflow-datasets==4.9.9
confection==0.1.5
tiktoken==0.9.0
libcugraph-cu12==25.6.0
pycocotools==2.0.10
httpcore==1.0.9
argon2-cffi==25.1.0
click==8.2.1
google-resumable-media==2.7.2
music21==9.3.0
tinycss2==1.4.0
gymnasium==1.2.0
nest-asyncio==1.6.0
pexpect==4.9.0
locket==1.0.0
Flask==3.1.1
pyarrow==18.1.0
promise==2.3
nvidia-ml-py==12.575.51
zipp==3.23.0
missingno==0.5.2
toml==0.10.2
holoviews==1.21.0
narwhals==1.48.1
pycparser==2.22
humanize==4.12.3
gdown==5.2.0
xarray==2025.7.1
language_data==1.3.0
tbb==2022.2.0
google-cloud-language==2.17.2
rpy2==3.5.17
tf-slim==1.1.0
nx-cugraph-cu12==25.6.0
jupyter_core==5.8.1
pyOpenSSL==24.2.1
tensorboard-data-server==0.7.2
pillow==11.3.0
pyshp==2.3.1
debugpy==1.8.15
jieba==0.42.1
httpx==0.28.1
slicer==0.0.8
text-unidecode==1.3
nltk==3.9.1
distributed-ucxx-cu12==0.44.0
PyWavelets==1.8.0
multitasking==0.0.12
backports.tarfile==1.2.0
sentry-sdk==2.33.2
nibabel==5.3.2
jeepney==0.9.0
sortedcontainers==2.4.0
firebase-admin==6.9.0
plotnine==0.14.5
websockets==15.0.1
gradio_client==1.11.0
google-cloud-resource-manager==1.14.2
intel-cmplr-lib-ur==2025.2.0
tables==3.10.2
yfinance==0.2.65
xyzservices==2025.4.0
thinc==8.3.6
tweepy==4.16.0
langcodes==3.5.0
shap==0.48.0
umap-learn==0.5.9.post2
prettytable==3.16.0
jax-cuda12-pjrt==0.5.1
pandas-datareader==0.10.0
pytest==8.4.1
pydotplus==2.0.2
tqdm==4.67.1
numba==0.60.0
Brotli==1.1.0
torchao==0.10.0
pytz==2025.2
h5py==3.14.0
ale-py==0.11.2
catalogue==2.0.10
rmm-cu12==25.6.0
peewee==3.18.2
jax-cuda12-plugin==0.5.1
PyGObject==3.42.0
anyio==4.9.0
xlrd==2.0.2
ipython-sql==0.5.0
libcudf-cu12==25.6.0
ipytree==0.2.2
pynvjitlink-cu12==0.7.0
parsy==2.1
importlib_metadata==8.7.0
blosc2==3.6.1
html5lib==1.1
google-genai==1.27.0
jupyter-console==6.1.0
python-dateutil==2.9.0.post0
rich==13.9.4
ipywidgets==7.7.1
cffi==1.17.1
pynvml==12.0.0
tensorflow_decision_forests==1.11.0
semantic-version==2.10.0
opencv-python==4.12.0.88
distro==1.9.0
gradio==5.38.1
pycryptodomex==3.23.0
torchvision==0.21.0+cu124
types-pytz==2025.2.0.20250516
stumpy==1.13.0
cycler==0.12.1
holidays==0.77
pydub==0.25.1
etuples==0.3.10
ruff==0.12.5
tomlkit==0.13.3
pyspark==3.5.1
ply==3.11
h5netcdf==1.6.3
python-louvain==0.16
grpclib==0.4.8
websocket-client==1.8.0
nvidia-cusparse-cu12==12.5.1.3
bokeh==3.7.3
grpc-google-iam-v1==0.14.2
requests-toolbelt==1.0.0
cmdstanpy==1.2.5
google-cloud-core==2.4.3
pymc==5.25.1
importlib_resources==6.5.2
plotly==5.24.1
sympy==1.13.1
beautifulsoup4==4.13.4
proglog==0.1.12
mizani==0.13.5
colorlover==0.3.0
eerepr==0.1.2
annotated-types==0.7.0
namex==0.1.0
pooch==1.8.2
osqp==1.0.4
pylibraft-cu12==25.6.0
babel==2.17.0
uc-micro-py==1.0.3
Cython==3.0.12
imbalanced-learn==0.13.0
nvidia-cuda-nvcc-cu12==12.5.82
tzdata==2025.2
typer==0.16.0
simplejson==3.20.1
triton==3.2.0
GDAL==3.8.4
nvidia-cublas-cu12==12.5.3.2
ipyparallel==8.8.0
fastjsonschema==2.21.1
notebook==6.5.7
ucxx-cu12==0.44.0
libclang==18.1.1
pyerfa==2.0.1.5
docutils==0.21.2
librosa==0.11.0
scooby==0.10.1
entrypoints==0.4
dopamine_rl==4.1.2
antlr4-python3-runtime==4.9.3
sphinxcontrib-applehelp==2.0.0
PyDrive2==1.21.3
langchain==0.3.27
cuml-cu12==25.6.0
jsonschema==4.25.0
jaraco.functools==4.2.1
tf_keras==2.18.0
blis==1.3.0
googleapis-common-protos==1.70.0
gspread==6.2.1
cuda-python==12.6.2.post1
diffusers==0.34.0
terminado==0.18.1
weasel==0.4.1
toolz==0.12.1
Farama-Notifications==0.0.4
zstandard==0.23.0
google-cloud-firestore==2.21.0
langchain-core==0.3.72
requests-oauthlib==2.0.0
pyparsing==3.2.3
cvxpy==1.6.7
tokenizers==0.21.2
matplotlib-venn==1.1.2
markdown-it-py==3.0.0
clarabel==0.11.1
cupy-cuda12x==13.3.0
rsa==4.9.1
numexpr==2.11.0
fonttools==4.59.0
spacy-legacy==3.0.12
arviz==0.22.0
notebook_shim==0.2.4
google-cloud-bigquery-connection==1.18.3
traittypes==0.2.1
ipython-genutils==0.2.0
Werkzeug==3.1.3
httplib2==0.22.0
frozenlist==1.7.0
ipykernel==6.17.1
pyzmq==26.2.1
widgetsnbextension==3.6.10
docstring_parser==0.17.0
tensorflow-probability==0.25.0
timm==1.0.19
openai==1.97.1
shellingham==1.5.4
nvidia-nccl-cu12==2.21.5
tornado==6.4.2
torchdata==0.11.0
starlette==0.47.2
bigquery-magics==0.10.1
cramjam==2.10.0
et_xmlfile==2.0.0
webcolors==24.11.1
oauth2client==4.1.3
google-api-python-client==2.177.0
blinker==1.9.0
psycopg2==2.9.10
sqlglot==25.20.2
typeguard==4.4.4
curl_cffi==0.12.0
imutils==0.5.4
cymem==2.0.11
cloudpathlib==0.21.1
tsfresh==0.21.0
jaxlib==0.5.1
orjson==3.11.0
editdistance==0.8.1
multipledispatch==1.0.0
sklearn-pandas==2.2.0
CacheControl==0.14.3
panel==1.7.5
astunparse==1.6.3
portpicker==1.5.2
libcuml-cu12==25.6.0
shapely==2.1.1
seaborn==0.13.2
nbclient==0.10.2
gym-notices==0.0.8
ipyfilechooser==0.6.0
transformers==4.53.3
rapids-dask-dependency==25.6.0
sphinxcontrib-serializinghtml==2.0.0
aiofiles==24.1.0
MarkupSafe==3.0.2
xxhash==3.5.0
frozendict==2.4.6
multiprocess==0.70.16
libkvikio-cu12==25.6.0
tenacity==8.5.0
mlxtend==0.23.4
murmurhash==1.0.13
soundfile==0.13.1
greenlet==3.2.3
altair==5.5.0
db-dtypes==1.4.3
grpc-interceptor==0.15.4
chardet==5.2.0
platformdirs==4.3.8
google-auth-oauthlib==1.2.2
sphinxcontrib-devhelp==2.0.0
lazy_loader==0.4
psygnal==0.14.0
moviepy==1.0.3
ndindex==1.10.0
nbclassic==1.3.1
mdit-py-plugins==0.4.2
groovy==0.1.2
jupyterlab_pygments==0.3.0
duckdb==1.3.2
grpcio-status==1.71.2
matplotlib==3.10.0
raft-dask-cu12==25.6.0
Send2Trash==1.8.3
more-itertools==10.7.0
anywidget==0.9.18
partd==1.4.2
colour==0.1.5
matplotlib-inline==0.1.7
jax==0.5.2
Pygments==2.19.2
autograd==1.8.0
rpds-py==0.26.0
prompt_toolkit==3.0.51
gitdb==4.0.12
dlib==19.24.6
srsly==2.5.1
aiohappyeyeballs==2.6.1
ipyleaflet==0.20.0
google-cloud-storage==2.19.0
google==2.0.3
google-cloud-bigquery==3.35.1
geopy==2.4.1
statsmodels==0.14.5
mpmath==1.3.0
google-cloud-functions==1.20.4
scikit-image==0.25.2
jsonpickle==4.1.1
wurlitzer==3.1.1
opencv-python-headless==4.12.0.88
flatbuffers==25.2.10
build==1.2.2.post1
natsort==8.4.0
google-api-core==2.25.1
cmake==3.31.6
pyproject_hooks==1.2.0
llvmlite==0.43.0
ffmpy==0.6.1
future==1.0.0
zict==3.0.0
SecretStorage==3.3.3
google-cloud-spanner==3.56.0
termcolor==3.1.0
openpyxl==3.1.5
py-cpuinfo==9.0.0
pydantic==2.11.7
jsonpointer==3.0.0
tensorstore==0.1.74
jaraco.classes==3.4.0
bqplot==0.12.45
fsspec==2025.3.0
PyJWT==2.10.1
langsmith==0.4.8
torchtune==0.6.1
hyperframe==6.1.0
einops==0.8.1
dask==2025.5.0
fastrlock==0.8.3
pandas-stubs==2.2.2.240909
geocoder==1.38.1
folium==0.20.0
tensorflow-hub==0.16.1
argon2-cffi-bindings==21.2.0
intel-openmp==2025.2.0
sphinxcontrib-qthelp==2.0.0
treelite==4.4.1
libucx-cu12==1.18.1
ibis-framework==9.5.0
torch==2.6.0+cu124
hpack==4.1.0
pylibcudf-cu12==25.6.0
google-cloud-iam==2.19.1
nvidia-cuda-runtime-cu12==12.5.82
kagglehub==0.3.12
datasets==4.0.0
google-cloud-dataproc==5.21.0
cons==0.4.7
attrs==25.3.0
mistune==3.1.3
pandas==2.2.2
wcwidth==0.2.13
tzlocal==5.3.1
mdurl==0.1.2
pluggy==1.6.0
pydot==3.0.4
soupsieve==2.7
jupyter-server==1.16.0
pydantic_core==2.33.2
networkx==3.5
lxml==5.4.0
SQLAlchemy==2.0.41
aiohttp==3.12.14
stringzilla==3.12.5
vega-datasets==0.9.0
python-utils==3.9.1
tblib==3.1.0
cudf-cu12==25.6.0
branca==0.8.1
sphinxcontrib-htmlhelp==2.1.0
orbax-checkpoint==0.11.19
tensorboard==2.18.0
fastdownload==0.0.7
opt_einsum==3.4.0
dm-tree==0.1.9
albumentations==2.0.8
umf==0.11.0
bleach==6.2.0
urllib3==2.5.0
easydict==1.13
spanner-graph-notebook==1.1.7
cloudpickle==3.1.1
Bottleneck==1.4.2
python-slugify==8.0.4
hf_transfer==0.1.9
bigframes==2.12.0
PyDrive==1.3.1
joblib==1.5.1
simple-parsing==0.1.7
gcsfs==2025.3.0
graphviz==0.21
patsy==1.0.1
h2==4.2.0
gin-config==0.5.0
tensorflow-metadata==1.17.2
gspread-dataframe==4.0.0
ratelim==0.1.6
keras-hub==0.18.1
cachetools==5.5.2
sphinxcontrib-jsmath==1.0.1
jupyter-leaflet==0.20.0
typing_extensions==4.14.1
libcuvs-cu12==25.6.1
nvidia-cusparselt-cu12==0.6.2
safetensors==0.5.3
pyasn1==0.6.1
marisa-trie==1.2.1
blobfile==3.0.0
xarray-einstats==0.9.1
imageio==2.37.0
google-crc32c==1.7.1
spacy==3.8.7
hdbscan==0.8.40
tensorflow-io-gcs-filesystem==0.37.1
rapids-logger==0.1.1
google-auth-httplib2==0.2.0
parso==0.8.4
optree==0.16.0
scipy==1.16.0
pandas-gbq==0.29.2
astropy==7.1.0
fastapi==0.116.1
PySocks==1.7.1
pynndescent==0.5.13
nbformat==5.10.4
pyogrio==0.11.0
libucxx-cu12==0.44.0
tensorflow-text==2.18.1
h11==0.16.0
peft==0.16.0
cufflinks==0.17.3
nvidia-curand-cu12==10.3.6.82
tifffile==2025.6.11
nvidia-nvjitlink-cu12==12.5.82
oauthlib==3.3.1
jupytext==1.17.2
tabulate==0.9.0
traitlets==5.7.1
libpysal==4.13.0
PyYAML==6.0.2
gast==0.6.0
betterproto==2.0.0b6
nvidia-cuda-cupti-cu12==12.5.82
dask-cudf-cu12==25.6.0
uritemplate==4.2.0
certifi==2025.7.14
nvidia-cusolver-cu12==11.6.3.83
aiosignal==1.4.0
community==1.0.0b1
simsimd==6.5.0
torchsummary==1.5.1
requests==2.32.3
nvidia-nvtx-cu12==12.4.127
pygame==2.6.1
wheel==0.45.1
backcall==0.2.0
gym==0.25.2
chex==0.1.90
safehttpx==0.1.6
google-auth==2.38.0
pytensor==2.31.7
scs==3.2.7.post2
psutil==5.9.5
miniKanren==1.0.5
nbconvert==7.16.6
Jinja2==3.1.6
numpy==2.0.2
jupyterlab_widgets==3.0.15
webencodings==0.5.1
linkify-it-py==2.0.3
etils==1.13.0
yellowbrick==1.5
nvtx==0.2.12
omegaconf==2.3.0
highspy==1.11.0
flax==0.10.6
filelock==3.18.0
Markdown==3.8.2
cyipopt==1.5.0
jiter==0.10.0
ipyevents==2.0.2
librmm-cu12==25.6.0
treescope==0.1.9
google-cloud-bigquery-storage==2.32.0
textblob==0.19.0
keyrings.google-artifactregistry-auth==1.1.2
regex==2024.11.6
geopandas==1.1.1
sentencepiece==0.2.0
dataproc-spark-connect==0.8.3
proto-plus==1.26.1
prometheus_client==0.22.1
jupyter-client==6.1.12
keras==3.8.0
Sphinx==8.2.3
pylibcugraph-cu12==25.6.0
roman-numerals-py==3.1.0
wordcloud==1.9.4
progressbar2==4.5.0
alabaster==1.0.0
keyring==25.6.0
charset-normalizer==3.4.2
ucx-py-cu12==0.44.0
uvicorn==0.35.0
astropy-iers-data==0.2025.7.21.0.41.39
python-box==7.3.2
imageio-ffmpeg==0.6.0
absl-py==1.4.0
atpublic==5.1
yarl==1.20.1
geemap==0.35.3
smart_open==7.3.0.post1
ipython==7.34.0
ml-dtypes==0.4.1
jsonpatch==1.33
spacy-loggers==1.0.5
pyviz_comms==3.0.6
jsonschema-specifications==2025.4.1
param==2.2.1
typing-inspection==0.4.1
kaggle==1.7.4.5
mkl==2025.2.0
multidict==6.6.3
contourpy==1.3.2
keras-nlp==0.18.1
scikit-learn==1.6.1
logical-unification==0.4.6
python-apt==0.0.0
setuptools==75.2.0
requirements-parser==0.9.0
types-setuptools==80.9.0.20250529
pip==24.1.2
httplib2==0.20.2
jeepney==0.7.1
cryptography==3.4.8
launchpadlib==1.10.16
lazr.uri==1.0.6
six==1.16.0
SecretStorage==3.3.1
wadllib==1.3.6
oauthlib==3.2.0
zipp==1.0.0
dbus-python==1.2.18
more-itertools==8.10.0
python-apt==2.4.0+ubuntu4
blinker==1.4
keyring==23.5.0
PyGObject==3.42.1
distro==1.7.0
pyparsing==2.4.7
lazr.restfulclient==0.14.4
importlib-metadata==4.6.4
PyJWT==2.3.0
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
jaraco.collections==5.1.0
jaraco.text==3.12.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.functools==4.0.1
inflect==7.3.1
importlib_resources==6.4.0
importlib_metadata==8.0.0
packaging==24.1
more-itertools==10.3.0
wheel==0.43.0
typeguard==4.3.0
jaraco.context==5.3.0
platformdirs==4.2.2
tomli==2.0.1
zipp==3.19.2